.down{

    margin-top: 300px;
    display: flex;
    align-items: center;
    
}



div .o{
    color: white;
    text-decoration: none;
}
div{
    color: white;
}

.prabhas{
    background-color: black;
    width: 100%;
    height: 100px;
}

